.container-wrap{
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding:160px 0 10px;
    display: flex;
    justify-content: center;
}
.container{
    text-decoration: none;
    color: #95BB3D;
    padding: 10px 10px 10px 10px;
    position: relative;
    width: 1024px;
    height:fit-content;
    display:flex ;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px 1px rgb(0 0 0 / 25%);
    border-radius: 3px;
    background-color: #EBEBEB;
}
.justify-content-center{
    width: 1024px;
    
}
.container-Forgot-pass{
    width: 100%;
    height: fit-content;
    line-height: 50px;
}
.button-login .fa-brands .fa-facebook-f{
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    font:"Roboto", sans-serif !important;
}

div.col-sm-12{
    box-sizing: border-box;
    background-color: #EBEBEB;
}
div.wrap-brandname{
    text-align: Center;
    box-sizing: border-box;
    border: 1px solid #c4b9b9;
    padding-right: 10px;
    padding-top: 10px;
    font-size: 2rem;
}
div.wrap-logintocontinues{
    text-align: center;
    margin-bottom: 40px;
    font-size: 2rem;
}
.emailtitle{
    margin-left: 2rem;
}
.passwordtiltle{
    margin-left: 2rem;
}
div.rememberme{
    text-align: right;
    color: #A47CB0;
}
div.forgot{
    color: #A47CB0;
}
.forgot a{
    text-align: left;
    font-size: 0.75rem;
    color: #A47CB0;
}
.iconsoccial{
    display: flex;
    justify-content: center;
    
}
div.wrap-buttonlogin{
    display: flex;
    justify-content: center;
    padding: 20px 10px 20px 10px;
}
.sent-request-button{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 30px;
    margin-bottom: -10px;
}
.sent-request-button-align{

}
.wrap-buttonlogin{
    text-decoration: none;
}
div.wrap-buttonlogin :hover{
    text-decoration: none;
    background-color: #F36C27;
}
button.btn{
    background-color: #EB5999;
    text-decoration: none;
}
.button-login > span{
    font:"Roboto", sans-serif;
}
button.btn a{
    text-decoration: none;
    color: #ffffff;
}

